{% extends 'base.html' %}
{% block content %} <!-- the content inside this goes to base template -->
{% if error %}
{{error}}
<br />
<br />
{% endif %}
<br />
<br />
<style>
    #ip1 
    {
      outline:none;
      border-top:transparent;
      border-left:transparent;
      border-right:transparent;
      border-radius: 10px;
      width: 250px;
      height: 50px; 
      background: transparent;
      color:black; 
    }
    .card 
    {
      display: flex;
      height: 520px;
      width: 800px;
      background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSmh5zclNbBPh1RvO2Rvdqi-Jz9lcNXYivit3NGl-6BTmbjzMtj");
      border-radius: 10px;
      /*   margin-left: -50px; */
      transition: 0.4s ease-out;
      position: relative;
      background-position: left; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: 50% 100%; /* Resize the background image to cover the entire container */
      background-color:#87CEEB;
      border: none;
      box-shadow: 0 1rem 1rem;
    }
    .btn
    {
      background: black;
      border-radius: 10px;
      width: 250px;
      height: 50px;
      outline:none;
      border:none;
      color: whitesmoke;
    }
    .btn:hover
    {
      border:none;
    }
    .footer{
      visibility: hidden;
    }
    .div2
  {margin-right: 35px;}
  .div3
  {margin-right: 35px;}
  .navbar{
      position: fixed;
          width: 15%;
          height: 10%;
          background-color: rgb(8, 8, 8);
      }
  </style>
    <br />
<div align="center">
<div class="card">
    <div align="right" class="div2">
  <br />
  <br />
  <h1 class="div3"><font face="Colleged" color="black">REGISTER</font></h1>
  <br />
  <form method="POST" action="{% url 'sign_up' %}">
    {% csrf_token %} <!-- used for security purposes -->
    <br />
    <input type="text" name="username" id="ip1" placeholder=" username"/>
    <br />
    <br />
    <br />
    <input type="password" name="password1" id="ip1" placeholder=" password"/>
    <br />
    <br />
    <br />
    <input type="password" name="password2" id="ip1" placeholder=" confirm password"/>
    <br />
    <br />
    <br />
    <input class="btn btn-primary" type="submit" value="Register this account" />
    <br />
    <br />
  </form>
    </div>
  </div>
</div>
{% endblock %}